{% extends "base.html" %}

{% block content %}
<div class="container-sm">
    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th>試合</th>
                <th>レビュー</th>
            </tr>
        </thead>
        {% for review in reviews %}
        <tr>
            <td>{{ review.match }}</td>
            <td>{{ review.review }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/post" role="button" class="btn btn-primary btn-md mt-5">投稿画面</a>
</div>
{% endblock %}