{% extends "base.html" %}

{% block content %}
<div class="container-sm">
    <a href="/login" role="button" class="btn btn-secondary btn-md mt-5">ログインページへ</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p style="color:red">{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST">
        <div class="mb-3 mt-2">
            <label for="username" class="form-label">ユーザーネーム</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="田中太郎">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">パスワード</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <label for="confirmation" class="form-label">パスワード(再入力)</label>
            <input type="password" class="form-control" id="confirmation" name="confirmation">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">新規登録</button>
        </div>  
    </form>
</div>
{% endblock %}